<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="outer-container">
      <!-- <a href="/">Back to Home Page</a> -->
      <h4>Products that can help cat's behavior problems</h4><br /><br />
      <div class="items-container">
        <% for(let i = 0; i < stores.length; i++) { %>
          <div class="item-container">
            <div class="item-image">
                <a href="/stores/<%=stores[i].id%>"><img src=<%=stores[i].img%> /></a>
            </div>
            <div class="item-text">
              <span class="item-name"><%=stores[i].name%></span><br />
              <span class="item-price">$ <%=stores[i].price%></span>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
