<div class="navbar">
    <div class="nav-wrap">
      <div class="nav-top">
        <div class= "logo">
          <img class= "meow" src="../img/meow_logo.png">
        </div>
        <div class="signup-login">
          <ul>
            <li>
              <% if(currentUser) {%>
                Welcome <%= currentUser.username %>
            </li>
            <li>
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout" class="waves-effect waves-light btn teal darken-3">
              </form>
            </li>
            <li>
              <% } else { %>
                <a href="/users/new" class="waves-effect waves-light btn teal darken-3">Sign Up</a>
                <a href="/sessions/new" class="waves-effect waves-light btn teal darken-3">Log In</a>
                <% } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-content">
      <ul class="tabs">
        <li class="tab"><a href="/behaviors">CAT BEHAVIOR & TRAINING</a></li>
        <li class="tab"><a href="/stores">STORE</a></li>
        <li class="tab"><a href="/shelters">ADOPTION CENTER</a></li>
        <li class="tab"><a href="/posts">COMMUNITY</a></li>
        <li class="tab"><a href="#test4">ABOUT</a></li>
      </ul>
    </div>
  </nav>
</div>
