<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container"><br />
      <!-- <a href="/">Back to Home Page</a> -->
      <h5>Adoption Centers</h5><br />
      <div class="divider"></div>
        <% for(let i = 0; i < shelters.length; i++) { %>
          <div class= "section">
            <a href="/shelters/<%=shelters[i].id%>"><h6><%=shelters[i].name%></h6>
          </div>
        <% } %>
    </div>
    <% include ../partials/footer.ejs %>
  </body>

</html>
