body {
  font-family: 'Lato', sans-serif;

}

ul {
  list-style: none;
  padding-left: 0;
}
h3, h4 {
  font-family: 'Bree Serif', serif;'
}

th {
  text-transform: uppercase;
}

.meow-logo {
  width: 58%;
}

.meow {
  width: 20%;
  margin-top: 20px;
}

.navbar {
  text-align: center;
  margin: 0 auto;

}

.container {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

.nav-wrap {
  background-color: white;
  color: black;
}

.nav-top {
  width: 88%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* INDEX BACKGROUND IMG */
.main {
  width: 100%;
  height: 830px;
  background: url('https://images.unsplash.com/photo-1558979846-df919038fb4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  background-repeat: no-repeat;
  background-size:  cover;
  bottom: 0px;
}

.outer-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

/* BEHAVIOR */
.behavior-container, .items-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.card-container, .item-container {
  width: 250px;
  text-align: center;
  margin-right: 10px;
}

.behavior-img, .item-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.behavior-img img, .item-img img {
  width: 100%;
  border-radius: 5px;
}

.behavior-card-text {
  font-weight: bold;
}

.behavior-text, .post-text {
  line-height: 2em;
  text-align: justify;
  margin-bottom: 50px;
}

.behavior-img-show {
  width: 70%;
  margin-bottom: 20px;
}

/* STORE */
.items-container {
  margin: 0 auto;
  width: 85%;
}

.item-container {
  margin: 0 15px 20px 0;
}

.item-img{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.item-text {
  margin-top: 20px;
  font-weight: bold;
}

.item-price {
  font-size: 1em;
  color: #343F4E;
}

.store-image-show img {
  width: 40%;
}

/* SHELTER */
.shelter-img img {
  width: 50%;
}

.form {
  margin: 0 auto;
}

/* COMMUNITY */
.post-btn {
  width: 100%;
  text-align: left;
  margin: 30px 0;
}

.post-text {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.post-comment {
  text-align: left;
  width: 70%;
}

.edit-delete {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-delete-store {
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit {
  font-size: 14px;
  margin-right: 15px;
  color: white;
  background-color: #16324F;
  padding: 4px 6px;
}

.edit:hover {
  color: #16324F;
  background-color: #FF686B;
}
input[type="submit"] {
  height: 30px;
  border: 0px;
  color: whitesmoke;
  background: #84DCC6;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #FF686B;
  color: #16324F;
}

input[value="BUY"], input[value="SUBMIT"], input[value="ADD"] {
  height: 30px;
  width: 80px;
  border: 0px;
  color: whitesmoke;
  background: #585481;
}

input[type="text"], input[type="number"], input[type="textarea"], input[type="img"] {
  width: 100%;
  margin: 8px 0;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.description {
  resize: none;
  width: 100%;
  height: 100px;
  padding-top: 5px;
}

/* DROPDOWN NAVBAR */
.main-nav-wrap {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.main-nav-wrap ul {
	list-style:none;
	position:relative;
	padding:0;
}

.main-nav-wrap ul a {
	display: block;
	color: #F7979D;
	text-decoration: none;
	font-size: 14px;
	padding: 0 25px;
}

.main-nav-wrap ul li {
	position: relative;
	margin: 0;
	padding: 0;
}

.main-nav-wrap ul li:hover {
	background:#f6f6f6;
}

.main-nav-wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

.main-nav-wrap ul ul li {
	float:none;
}

.main-nav-wrap ul li:hover > ul {
	display:block;
}

nav {
  box-shadow: none!important;
}

.content-wrap {
  width: 54%;
  margin: 0 auto;
}

img {
  border-radius: 3px;
}
.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.copy {
  margin-right: 10px;
}

.material-icons {
  font-size: 1em;
}

footer {
  font-size: 12px;
  padding: 0 12px;
}
