/* GENERAL */
body {
  font-family: 'Rubik', sans-serif;
;
}

ul {
  list-style: none;
  padding-left: 0;
}

h5 {
  font-family: 'Asap', sans-serif;
}

th {
  text-transform: uppercase;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}


/* LOGO */
.meow-logo {
  width: 620px;
  display: inline-block;
  text-align: center;
}

.meow-logo img {
  width: 28%;
  margin-top: 20px;
  display: inline-block;
  transition: transform 0.5s ease, border 0.5s ease;
}

.meow-logo img:hover {
  transform: scale(1.1);
}


/* TOP NAVBAR */
/* big container */
.navbar {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.nav-wrap {
  background-color: white;
  color: black;
  width: 100%;
}

.nav-top {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* DROPDOWN NAVBAR */
.main-nav-wrap {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.content-wrap {
  width: 58%;
  margin: 0 auto;
}

.main-nav-wrap ul {
  display: inline-block;
  width: 100%;
	list-style:none;
  margin: 0 auto;
	padding: 0;

}

.main-nav-wrap ul a {
	color: #F7979D;
	text-decoration: none;
	font-size: 14px;
	padding: 0 35px;
  margin: 0 auto;
}

.main-nav-wrap ul li {
	position: relative;
	margin: 0;
	padding: 0;
  z-index: 1000;
}

.main-nav-wrap ul li:hover > ul {
	display:block;
}

.main-nav-wrap ul li:hover {
	background: #f50057;
}

.main-nav-wrap ul li a:hover {
	background: #f50057;
  color: white;
}

.main-nav-wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: whitesmoke;
	padding:0;
}

.main-nav-wrap ul ul li {
	float:none;
  line-height: 20px;
  padding: 20px 0;
}


/* INDEX BACKGROUND IMG */
.main {
  width: 100%;
  height: 830px;
  background: url('https://images.unsplash.com/photo-1558979846-df919038fb4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  background-repeat: no-repeat;
  background-size:  cover;
  bottom: 0px;
}

.outer-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}


/* LOGIN SIGNUP */

.signup-login {
  margin-top: 10px;
}

.user_login {
  width: 100%;
  height: 830px;
  background: url('https://images.unsplash.com/photo-1548595136-1e84b645ff7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size:  cover;
  bottom: 0px;
}

.user_signup {
  width: 100%;
  height: 830px;
  background: url('https://images.unsplash.com/photo-1557743952-b088259408a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size:  cover;
  bottom: 0px;
}

.opacity {
  background-color: rgba(255, 255, 255, 0.8);
}

.tpmargin {
  margin-top: 50px;
  padding-top: 20px;
}


/* BEHAVIOR */
.behavior-container, .items-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.card-container, .item-container {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.card-container  {
  width: 350px;
}

.behavior-img, .item-img {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

.behavior-img img, .item-img img {
  width: 100%;
  border-radius: 5px;
}

.behavior-card-text {
  font-weight: bold;
}

.behavior-text, .post-text, .store-description, .shelter-description {
  line-height: 2em;
  text-align: justify;
}

.behavior-img-show {
  width: 70%;
  margin-bottom: 20px;
}


/* STORE */
.store-btn {
  float: left;
}

.items-container {
  margin: 0 auto;
  width: 85%;
}

.item-container {
  margin: 0 auto;
  margin-bottom: 40px;
}

.item-img{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.store-use {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: #585481;
}

.item-img img, .behavior-img img{
  filter: grayscale(60%);
}

.item-img img:hover, .behavior-img img:hover{
  filter: grayscale(0%);
}

.item-text {
  margin-top: 20px;
  font-weight: bold;
}

.item-price {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: #343F4E;
}

.store-image-show img {
  width: 40%;
}


/* SHELTER */
.shelter-img img {
  width: 50%;
}

.form {
  margin: 0 auto;
}

.section a {
  color: #455a64;
}

.section a:hover {
  color: #455a64;
  text-decoration:underline #f50057;
}

.shelter-font {
  font-size: 24px;
}
/* COMMUNITY */
.post-btn {
  width: 100%;
  text-align: left;
  margin: 30px 0;
}

.post-text {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.post-comment {
  text-align: left;
  width: 70%;
}

.edit-delete {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-delete-store {
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit {
  font-size: 14px;
  margin-right: 15px;
  color: white;
  background-color: #16324F;
  padding: 4px 6px;
  border-radius: 3px;
}

.edit-post {
  padding: 6px 18.5px;
}

.edit:hover {
  color: #16324F;
  background-color: #FF686B;
}

.community-img {
  width: 50%;
}

.community-title {
  color: black;
}

.community-title:hover {
  color: gray;
}
/* BUTTONS STYLING */
input[type="submit"] {
  height: 30px;
  border: 0px;
  color: whitesmoke;
  background: #84DCC6;
  border-radius: 3px;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #FF686B;
  color: #16324F;
}

input[value="BUY"], input[value="SUBMIT"], input[value="ADD"] {
  height: 30px;
  width: 80px;
  border: 0px;
  color: whitesmoke;
  background: #585481;
}

input[type="text"], input[type="number"], input[type="textarea"], input[type="img"] {
  width: 100%;
  margin: 8px 0;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* EVERY TEXT STYLING */
.description {
  resize: none;
  width: 100%;
  height: 100px;
  padding-top: 5px;
}

nav {
  box-shadow: none!important;
}

img {
  border-radius: 3px;
}


/* FOOTER */
.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.copy-right {
  margin-right: 10px;
}

.material-icons {
  font-size: 1em;
}

footer {
  font-size: 12px;
  padding: 0 12px;
}
