<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container outer-container"><br />
      <!-- <a href="/">Back to Home Page</a> -->
      <h5>How to Solve Behavior Problems in Cats</h5><br /><br />
      <div class="behavior-container">
        <% for(let i = 0; i < behaviors.length; i++) { %>
            <div class="card-container">
              <div class="behavior-img">
                <a href="/behaviors/<%=behaviors[i].id%>"><img src=<%=behaviors[i].img%> /></a>
              </div>
              <div class="behavior-card-text"><%=behaviors[i].title%></div>
            </div>
        <% } %>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
