<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header2.ejs %>
    <div class="container outer-container">
      <br /><h5><%=behavior.title%></h5><br />
      <img class="behavior-img-show" src=<%=behavior.img%> />
      <p class="behavior-text container"><%=behavior.description%><br /><br />TREATMENT<br /><%=behavior.treatment%></p>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
