<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header2.ejs %>
    <div class="container">
      <div class="container">
        <!-- <a href="/behaviors">Back to Behaviors Page</a> -->
        <h3><%=behavior.title%></h3>
        <img class="behavior-img" src=<%=behavior.img%> />
        <p class="behavior-text container"><%=behavior.description%></p>
      </div>
    </div>
  </body>
</html>
