<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="container">
        <a href="/behaviors">Back to Behaviors Page</a>
        <h1><%=behavior.title%></h1>
        <img src=<%=behavior.img%> />
        <p><%=behavior.description%></p>
      </div>
    </div>
  </body>
</html>
