<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <!-- <% include ../partials/header2.ejs %> -->
    <div class="container">
      <h3>Edit</h3>
      <div class="container">
        <form action="/posts/<%=post.id%>?_method=PUT" method="POST">
          Title: <input type="text" name="title" value="<%=post.title%>"/><br />
          Description: <textarea class="description"><%=post.message%></textarea><br />
          Image: <input type="img" name="image" value="<%=post.img%>"/><br />
          <input type="submit" value="SUBMIT">
        </form>
      </div>
    </div>
  </body>
</html>
