<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <a href="/">Back to Home Page</a>
      <h1>Community Page</h1>
      <div class="divider"></div>
      <h5>Welcome <%=currentUser.username%></h5>
      <a href="/posts/new" class="waves-effect waves-light btn">Add a Post</a>

      </form>
    </div>
    </div>
  </body>
</html>
