<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <!-- <a href="/">Back to Home Page</a> -->
      <!-- <h4>Community Page</h4> -->
      <!-- <h5>Welcome <%=currentUser.username%></h5> -->
      <div class="post-btn">
      <a href="/posts/new" class="waves-effect waves-light btn">Add a Post</a>
      </div>
      <table class="responsive-table highlight">
          <tr>
            <th>title</th>
            <th>username</th>
          </tr>
          <% for (let i = 0; i < posts.length; i++) { %>
          <tr>
            <td>
              <a href="/posts/<%=posts[i].id%>"><%=posts[i].title%></a>
            </td>
            <td>
              <%=posts[i].username%></a>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
