<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <h1>hello</h1>
      <div class="row">
        <form class="col s12" action="/posts" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="placeholder" type="text" name="title">
              <label for="title">Title</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="message" type="text" name="message">
              <label for="message">write your message here</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="image" type="text" name="image">
              <label for="image">add your image</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
  </body>
</html>
